.itschool-poster {
  background-image: url("/public/images/background-section1.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white);
  padding-top: 100px;
  min-height: 600px;
}

.itschool-poster .poster-image {
  max-height: 500px;
}

@media screen and (max-width: 768px) {
  .itschool-poster {
    padding-top: 10px;
    min-height: 400px;
  }

  .itschool-poster .poster-image {
    max-height: 300px;
  }
}
