.itschool-landing-page {
  background-image: url("/public/images/background-section2.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
