.itschool-article-card .article-redirect,
.itschool-article-card .article-favorite {
  position: absolute;
  top: 20px;
  transition: all 0.3s ease-in-out;
}

.itschool-article-card .article-redirect {
  right: 20px;
}

.itschool-article-card .article-favorite {
  left: 20px;
}

.itschool-article-card .article-redirect:hover,
.itschool-article-card .article-favorite:hover {
  transform: scale(1.2);
}
