@import "bootstrap/dist/css/bootstrap.min.css";
@import "./styles/fonts.css";
@import "./styles/variables.css";

body {
  margin: 0;
  font-family: Asap, "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-content-width {
  width: 100%;
  max-width: min(1240px, 100vw);
  margin: 0 auto;
  padding: 0 20px;
}

.row > * {
  padding: 0;
}

.articles-background {
  background-image: url("/public/images/background-section2.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
